<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credit_card.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @credit_card.card_type %>
</p>

<p>
  <strong>Number:</strong>
  <%= @credit_card.number %>
</p>

<p>
  <strong>Expiration month:</strong>
  <%= @credit_card.expiration_month %>
</p>

<p>
  <strong>Expiration year:</strong>
  <%= @credit_card.expiration_year %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @credit_card.zipcode %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
