<div class="navigation-links">
  <div class="right-link">
    <%= link_to 'Edit', edit_event_path(@group) %>
  </div>
</div>


<% unless @group.tickets.first.event.poster_url.nil? %>
  <div class="event-image"><%= image_tag @group.tickets.first.event.poster_url %></div>
<% end %>

<div class="event-title"><%= @group.title %></div>
<div class="event-details"><%= @group.tickets.first.event.start.strftime("%m/%d/%Y at %I:%M%p") %> at <%= @group.tickets.first.event.venue_title %></div>

<div class="cell">
	<div class="cell-title">Who's Going?</div>
	<div class="group-members">
	  <% @group.tickets.each do |ticket| %>
			<a class="group-member" href="/users/<%= ticket.user.id %>">
	  		<% unless ticket.user.photo_url.nil? %>
					<div class='group-member-photo'>
						<div class="user-image" style="background-image:url(<%= ticket.user.photo_url %>)"></div>
					</div>
				<% end %>
				<div class="group-member-name">
		  		<%= ticket.user.anonymized_name %>
				</div>
			</a>
	  <% end %>
	</div>
</div>

<div class="cell">
  <div class="cell-title">Description</div>
  <div class="cell-content">
    <%= @group.tickets.first.event.description %>
  </div>
</div>

<div class="cell">
  <div class="cell-title">Address</div>
  <div class="cell-content">
    <%= @group.tickets.first.event.address_1 %>
    <%= @group.tickets.first.event.address_2 %><br>
    <%= @group.tickets.first.event.city %>, <%= @group.tickets.first.event.state %> <%= @group.tickets.first.event.zip %>
  </div>
</div>
