<p id="notice"><%= notice %></p>

<div class="header">
<% unless @user.photo_url.nil? %>
  <%= image_tag @user.photo_url, style: "max-width: 200px"  %>
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
<% end %>
</div>

<hr>
<h2>About me:</h2>
<p><%= @user.bio %></p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birth_date.strftime("%m/%d/%Y") %>
</p>

<hr>
<h2>My Groups:</h2>
<ul class="user_lists">
  <% @groups.each do |group| %>
      <li><%= link_to group.title, group_path(group.tickets.first.group_id) %></li>
  <% end %>
</ul>

<hr>
<h2>Interest History:</h2>
<ul class="user_lists">
  <% @tickets.each do |ticket| %>
      <li><%= link_to ticket.event.title, event_path(ticket.event_id) %></li>
  <% end %>
</ul>

<hr>
<h2>Contact info:</h2>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<hr>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
