<div class="navigation-links">
  <div class="right-link">
    <%= link_to 'Edit', edit_user_path(@user) %>
  </div>
</div>

<% unless @user.photo_url.nil? %>
  <div class='user-image-container'>
    <div class="user-image" style="background-image:url(<%= @user.photo_url %>)"></div>
  </div>
<% end %>
</div>

<div class="user-name">
  <%= @user.anonymized_name %>
</div>

<div class="user-bio">
  <%= @user.bio %>
</div>

<div class="table-title">Events</div>
<ul class="table">
  <% @tickets.each do |ticket| %>
      <li><%= link_to ticket.event.title, event_path(ticket.event_id) %></li>
  <% end %>
</ul>
