<div class="navigation-links">
  <div class="right-link">
    <%= link_to 'Edit', edit_event_path(@event) %>
  </div>
</div>


<% unless @event.poster_url.nil? %>
  <div class="event-image"><%= image_tag @event.poster_url %></div>
<% end %>

<div class="event-title"><%= @event.title %></div>
<div class="event-details"><%= @event.venue_title %></div>

<div class="event-attendance">
  <% if @purchased == 1 %>
    There is currently <%= @purchased %> person attending!
  <% else %>
    There are currently <%= @purchased %> people attending!
  <% end %>
</div>

<button onclick="showSomething()">I want to go!</button>

<dialog id="something">
  <h3>Choose Payment Mechanism</h3>
  <select name="user[credit_card_id]">
    <option value="" selected="selected">Please select</option>
    <option value="1"><%= current_user.credit_cards.first.name %> <%= current_user.credit_cards.first.card_type %></option>
    <option value="2"><%= current_user.credit_cards.second.name %> <%= current_user.credit_cards.second.card_type %></option>
  </select>
  <p>For: <%= @event.title %> on <%= @event.start.strftime("%m/%d/%Y at %I:%M%p") %></p>

  <%= simple_form_for(Ticket.new, :url => buyticket_path) do |f| %>
    <%= f.hidden_field :user_id,  value: current_user.id %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.hidden_field :date_purchased, value: Date.today %>
    <%= f.button :submit, "Buy My Ticket", {class: "round tagalong-button fix-button"} %>
  <% end %>
  <button onclick="hideSomething()">Cancel</button>
</dialog>

<div class="cell">
  <div class="cell-title">Description</div>
  <div class="cell-content">
    <%= @event.description %>
  </div>
</div>

<div class="cell">
  <div class="cell-title">Event Date &amp; Time</div>
  <div class="cell-content">
    <%= @event.start.strftime("%m/%d/%Y at %I:%M%p") %>
  </div>
</div>

<div class="cell">
  <div class="cell-title">Price</div>
  <div class="cell-content">
    <%= number_to_currency(@event.price) %>
  </div>
</div>

<div class="cell">
  <div class="cell-title">Address</div>
  <div class="cell-content">
    <%= @event.address_1 %>
    <%= @event.address_2 %><br>
    <%= @event.city %>, <%= @event.state %> <%= @event.zip %>
  </div>
</div>
