<!DOCTYPE html>
<html>
<head>
  <title>GroupOutingGenerator</title>
  <script src="https://use.typekit.net/mci1kfm.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<% unless !user_signed_in? %>
	<%= link_to current_user.first_name, user_path(current_user) %>
<% end %>
</html>
