<!DOCTYPE html>
<html>
<head>
  <title>GroupOutingGenerator</title>
  <script src="https://use.typekit.net/mci1kfm.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- <p id="notice"><%= notice %></p> -->



<%= yield %>

</body>

<footer>
	<div class="tab-bar-navigation">

		<% unless !user_signed_in? %>
  		<div class="tab-bar-item">
  				<%= link_to image_tag('ic_account_circle_white_24dp_2x.png'), user_path(current_user) %>
          <label>
            Profile
          </label>
  		</div>
    <% end %>
		<div class="tab-bar-item" id="events-tab">
			<%= link_to image_tag('ic_insert_invitation_white_24dp_2x.png'), events_path %>
      <label>
        Events
      </label>
		</div>

		<% unless !user_signed_in? %>
		  <div class="tab-bar-item">
  			<%= link_to image_tag('ic_people_white_24dp_2x.png'), group_history_path(current_user) %>
        <label>
          Groups
        </label>
  		</div>
    <% end %>

		<% unless !user_signed_in? %>
  		<div class="tab-bar-item">
				<% if current_user.get_unreceived_group_notifications.length != 0 %>
			    	<%= link_to image_tag('ic_notifications_active_white_24dp_2x.png'), notifications_path(current_user) %>
				<% else %>
					<%= link_to image_tag('ic_notifications_white_24dp_2x.png'), notifications_path(current_user) %>
				<% end %>
        <label>
          Notifications
        </label>
  		</div>
    <% end %>
	</div>
</footer>
</html>
