<!DOCTYPE html>
<html>
<head>
  <title>GroupOutingGenerator</title>
  <script src="https://use.typekit.net/mci1kfm.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<footer>
	<div class="tab_bar_navigation">
		<div class="tab_bar_item">
			<% unless !user_signed_in? %>
				<%= link_to image_tag('ic_account_circle_white_24dp_2x.png'), user_path(current_user) %>
			<% end %>
		</div>
		<div class="tab_bar_item">
			<%= link_to image_tag('ic_insert_invitation_white_24dp_2x.png'), events_path %>
		</div>
		<div class="tab_bar_item">
			<% unless !user_signed_in? %>
				<%= link_to image_tag('ic_people_white_24dp_2x.png'), group_history_path(current_user) %>
			<% end %>
		</div>
	</div>
</footer>
</html>
